.button { 
    @include font-size(12);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: pxToRem(2);
    color: $color-white;
    padding: 13px 19px;
    cursor: pointer;

    @include desktop-up {
        @include font-size(14);
        padding: 14px 20px;
    }

    &--primary {
        background-color: $color-black;
        border: none;
    }

    &--secondary {
        background-color: $color-primary;
        border: none;  
    }

    &--outline {
        background-color: transparent;
        border: 2px solid $color-white;
        padding: 14px 28px;

        @include desktop-up {
            padding: 18px 22px;
        }
    }
}