$color-white: #FFFFFF;
$color-black: #000000;

$font-primary: 'Lato', sans-serif;
$font-stlyish: 'Pacifico', serif;

$color-primary: #10504F;
$color-secondary: #EFEFEF;


body {
    font-family: $font-primary;
}