.header--cta {
    color: $color-white;
    background: $color-black;
    @include font-size(14);
    letter-spacing: pxToRem(2);
    text-align: center;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 15px;

    @include desktop-up {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    &__text {
        margin: 0;
        font-weight: 400;
    }
}